* {
    margin: 0 auto;
    background-image: url();
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower-dark.png");
    max-width: 800px;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid black;  
    padding: 15px 0;
    background-color: white;
}

div.container {
    max-width: 800px;
    margin: 0 auto;
    
}


a.name {
    background-color: green;
    padding: 15px 10px;
    color: white;
    margin: 0 20px;

}

nav {
    float: right;
}

article.about {
    float: left;
    width: 400px;
    background-color: orange;
    margin: 20px 0;
    padding: 10px;
}

nav.connect {
    float: right;
    width: 200px;
    background-color: green;
    margin: 20px 0;
    padding: 10px;
}

h1 {
    font-size: 30px;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

img {
    float: left;
    width: 125px;
    padding-top: 10px;
}

img.logo {
    width: 25px;
    padding: 10px;
    
}

p {
    padding-top: 10px;
}

main::after {
    content: "";
    clear: both;
    display: block;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: green;
    border-top: 4px solid #000;
}

