* {
    margin: 0;
}

div.container {
    max-width: 1000px;
    
    
}

header {
    border-bottom: 2px solid black;  
    padding: 15px 0;

}


a.name {
    background-color: grey;
    padding: 15px;
    color: white;

}

nav {
    float: right;
}

main {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower-dark.png");
}

article.about {
    float: left;
    width: 500px;
    background-color: orange;
    margin: 20px;
    padding: 10px;
}

nav.connect {
    float: right;
    width: 200px;
    background-color: green;
    margin: 20px;
    padding: 10px;
}

h1 {
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

img {
    float: left;
    width: 125px;
    padding-top: 10px;
}

p {
    padding-top: 10px;
}

main::after {
    content: "";
    clear: both;
    display: block;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: green;
    border-top: 4px solid #000;
}

