* {
    margin: 0;
}

body {
    max-width: 800px;
    margin: 100px auto;

}
section.main {
    background-color: red;
    width: 510 px;
}

img {
    float: left;
    width: 165px;
    margin: 10px;
}
p {
    width: 500px;
    text-align: justify;
}